# Ignored files
output.txt

# Archivos generados por Node.js
node_modules/

#Google API secrets
# secrets.json

# Archivos de log y temporales
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock

# Archivos de configuración
.env
.env.*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.iml

# Archivos de construcción
dist/
build/
out/
public/
coverage/
